# Virtual Environment
venv/
.venv/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment Variables & Secrets
.env

# Data & Artifacts (Akan dilacak oleh DVC, bukan Git)
data/raw/*
data/processed/*
artifacts/*

# Model Weights & Large Checkpoints
*.bin
*.safetensors
*.pt
*.pth
*.onnx

# VS Code Settings & Cache
.vscode/
*.log
/artifacts
